div.topnav {
	background-color: #222;
	background-image: url(/img/topnav_bg.gif);
	background-repeat: repeat-x;
	padding: 0 8px;
	height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
div.topnav img {
	float: left;
}
ul.topnav {
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
	float: left;
	width: 920px;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative;
}
ul.topnav li a{
	padding: 9px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li span {
	width: 17px;
	height: 35px;
	float: left;
	background: url(/img/subnav_btn.gif) no-repeat center center;
}
ul.topnav li span.subhover {
	background-position: center center;
	cursor: pointer;
}
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #444;
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { 
	background: #222;
}

ul.topnav li a.current {
	color: #A4D627;
	font-weight: bold;
}

div.source {
	float: right;
	padding: 9px 5px;
	color: white;
	display: block;
}
div.source a {
	color: #ccc;
	text-decoration: none;
}
